In [2]:
# !pip install pyarrow
import pandas as pd
import numpy as np

In [3]:
df = pd.read_parquet("path.parquet")

In [4]:
df

   foo   bar
0    1  None
1    2   bak
2    3   baz

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   foo     3 non-null      int32
 1   bar     2 non-null      object
dtypes: int32(1), object(1)
memory usage: 164.0+ bytes