In [1]:
# !pip install polars

Collecting polars
  Downloading polars-0.16.4-cp37-abi3-win_amd64.whl (15.9 MB)
Collecting typing_extensions>=4.0.1
  Downloading typing_extensions-4.4.0-py3-none-any.whl (26 kB)
Installing collected packages: typing-extensions, polars
Successfully installed polars-0.16.4 typing-extensions-4.4.0

WARNING: You are using pip version 21.2.4; however, version 23.0 is available.
You should consider upgrading via the 'C:\Users\cvzy3\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [29]:
from datetime import datetime

In [2]:
import polars as pl

In [21]:
df = pl.read_csv("https://j.mp/iriscsv")

In [8]:
df.head(3)

shape: (3, 5)
┌──────────────┬─────────────┬──────────────┬─────────────┬─────────┐
│ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width ┆ species │
│ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---     │
│ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str     │
╞══════════════╪═════════════╪══════════════╪═════════════╪═════════╡
│ 5.1          ┆ 3.5         ┆ 1.4          ┆ 0.2         ┆ setosa  │
│ 4.9          ┆ 3.0         ┆ 1.4          ┆ 0.2         ┆ setosa  │
│ 4.7          ┆ 3.2         ┆ 1.3          ┆ 0.2         ┆ setosa  │
└──────────────┴─────────────┴──────────────┴─────────────┴─────────┘

In [14]:
filtered = (df.filter(pl.col("sepal_length")>5)
 .groupby("species", maintain_order=True)
 .agg(pl.all().sum())
)
print(filtered)

shape: (3, 5)
┌────────────┬──────────────┬─────────────┬──────────────┬─────────────┐
│ species    ┆ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width │
│ ---        ┆ ---          ┆ ---         ┆ ---          ┆ ---         │
│ str        ┆ f64          ┆ f64         ┆ f64          ┆ f64         │
╞════════════╪══════════════╪═════════════╪══════════════╪═════════════╡
│ setosa     ┆ 116.9        ┆ 81.7        ┆ 33.2         ┆ 6.1         │
│ versicolor ┆ 281.9        ┆ 131.8       ┆ 202.9        ┆ 63.3        │
│ virginica  ┆ 324.5        ┆ 146.2       ┆ 273.1        ┆ 99.6        │
└────────────┴──────────────┴─────────────┴──────────────┴─────────────┘

# Same filter With Pandas

In [16]:
import pandas as pd

df = pd.read_csv("https://j.mp/iriscsv")
df.query('sepal_length > 5') \
    .groupby('species').sum()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             116.9         81.7          33.2          6.1
versicolor         281.9        131.8         202.9         63.3
virginica          324.5        146.2         273.1         99.6

# Lazy Example

In [19]:
(pl.read_csv("https://j.mp/iriscsv")
 .lazy()
 .filter(pl.col('sepal_length') > 5)
 .groupby('species', maintain_order=True)
 .agg(pl.all().sum())
 .collect()
)

shape: (3, 5)
┌────────────┬──────────────┬─────────────┬──────────────┬─────────────┐
│ species    ┆ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width │
│ ---        ┆ ---          ┆ ---         ┆ ---          ┆ ---         │
│ str        ┆ f64          ┆ f64         ┆ f64          ┆ f64         │
╞════════════╪══════════════╪═════════════╪══════════════╪═════════════╡
│ setosa     ┆ 116.9        ┆ 81.7        ┆ 33.2         ┆ 6.1         │
│ versicolor ┆ 281.9        ┆ 131.8       ┆ 202.9        ┆ 63.3        │
│ virginica  ┆ 324.5        ┆ 146.2       ┆ 273.1        ┆ 99.6        │
└────────────┴──────────────┴─────────────┴──────────────┴─────────────┘

In [23]:
df.select(pl.col('*')).head(3)

shape: (3, 5)
┌──────────────┬─────────────┬──────────────┬─────────────┬─────────┐
│ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width ┆ species │
│ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---     │
│ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str     │
╞══════════════╪═════════════╪══════════════╪═════════════╪═════════╡
│ 5.1          ┆ 3.5         ┆ 1.4          ┆ 0.2         ┆ setosa  │
│ 4.9          ┆ 3.0         ┆ 1.4          ┆ 0.2         ┆ setosa  │
│ 4.7          ┆ 3.2         ┆ 1.3          ┆ 0.2         ┆ setosa  │
└──────────────┴─────────────┴──────────────┴─────────────┴─────────┘

# Filtering

In [25]:
flights = pl.read_parquet('flights.parquet')

In [28]:
flights.sample(2)

shape: (2, 19)
┌──────┬───────┬─────┬──────────┬─────┬──────────┬──────┬────────┬─────────────────────┐
│ year ┆ month ┆ day ┆ dep_time ┆ ... ┆ distance ┆ hour ┆ minute ┆ time_hour           │
│ ---  ┆ ---   ┆ --- ┆ ---      ┆     ┆ ---      ┆ ---  ┆ ---    ┆ ---                 │
│ i16  ┆ i8    ┆ i8  ┆ i16      ┆     ┆ i16      ┆ i8   ┆ i8     ┆ datetime[ns]        │
╞══════╪═══════╪═════╪══════════╪═════╪══════════╪══════╪════════╪═════════════════════╡
│ 2013 ┆ 9     ┆ 18  ┆ 1624     ┆ ... ┆ 1074     ┆ 15   ┆ 17     ┆ 2013-09-18 15:00:00 │
│ 2013 ┆ 10    ┆ 4   ┆ 556      ┆ ... ┆ 719      ┆ 6    ┆ 0      ┆ 2013-10-04 06:00:00 │
└──────┴───────┴─────┴──────────┴─────┴──────────┴──────┴────────┴─────────────────────┘

In [31]:
flights.filter(
    pl.col('time_hour').is_between(datetime(2013,9,1), datetime(2013,10,1))
).head()

shape: (5, 19)
┌──────┬───────┬─────┬──────────┬─────┬──────────┬──────┬────────┬─────────────────────┐
│ year ┆ month ┆ day ┆ dep_time ┆ ... ┆ distance ┆ hour ┆ minute ┆ time_hour           │
│ ---  ┆ ---   ┆ --- ┆ ---      ┆     ┆ ---      ┆ ---  ┆ ---    ┆ ---                 │
│ i16  ┆ i8    ┆ i8  ┆ i16      ┆     ┆ i16      ┆ i8   ┆ i8     ┆ datetime[ns]        │
╞══════╪═══════╪═════╪══════════╪═════╪══════════╪══════╪════════╪═════════════════════╡
│ 2013 ┆ 9     ┆ 1   ┆ 9        ┆ ... ┆ 1576     ┆ 23   ┆ 59     ┆ 2013-09-01 23:00:00 │
│ 2013 ┆ 9     ┆ 1   ┆ 117      ┆ ... ┆ 209      ┆ 22   ┆ 45     ┆ 2013-09-01 22:00:00 │
│ 2013 ┆ 9     ┆ 1   ┆ 508      ┆ ... ┆ 1400     ┆ 5    ┆ 16     ┆ 2013-09-01 05:00:00 │
│ 2013 ┆ 9     ┆ 1   ┆ 537      ┆ ... ┆ 1089     ┆ 5    ┆ 45     ┆ 2013-09-01 05:00:00 │
│ 2013 ┆ 9     ┆ 1   ┆ 537      ┆ ... ┆ 1576     ┆ 5    ┆ 45     ┆ 2013-09-01 05:00:00 │
└──────┴───────┴─────┴──────────┴─────┴──────────┴──────┴────────┴─────────────────────┘

In [32]:
flights.filter(
    (pl.col('dep_time') > 10) & (pl.col('dep_delay') > 10 )
).head()

shape: (5, 19)
┌──────┬───────┬─────┬──────────┬─────┬──────────┬──────┬────────┬─────────────────────┐
│ year ┆ month ┆ day ┆ dep_time ┆ ... ┆ distance ┆ hour ┆ minute ┆ time_hour           │
│ ---  ┆ ---   ┆ --- ┆ ---      ┆     ┆ ---      ┆ ---  ┆ ---    ┆ ---                 │
│ i16  ┆ i8    ┆ i8  ┆ i16      ┆     ┆ i16      ┆ i8   ┆ i8     ┆ datetime[ns]        │
╞══════╪═══════╪═════╪══════════╪═════╪══════════╪══════╪════════╪═════════════════════╡
│ 2013 ┆ 1     ┆ 1   ┆ 611      ┆ ... ┆ 2586     ┆ 6    ┆ 0      ┆ 2013-01-01 06:00:00 │
│ 2013 ┆ 1     ┆ 1   ┆ 623      ┆ ... ┆ 1096     ┆ 6    ┆ 10     ┆ 2013-01-01 06:00:00 │
│ 2013 ┆ 1     ┆ 1   ┆ 632      ┆ ... ┆ 212      ┆ 6    ┆ 8      ┆ 2013-01-01 06:00:00 │
│ 2013 ┆ 1     ┆ 1   ┆ 732      ┆ ... ┆ 937      ┆ 6    ┆ 45     ┆ 2013-01-01 06:00:00 │
│ 2013 ┆ 1     ┆ 1   ┆ 743      ┆ ... ┆ 2475     ┆ 7    ┆ 30     ┆ 2013-01-01 07:00:00 │
└──────┴───────┴─────┴──────────┴─────┴──────────┴──────┴────────┴─────────────────────┘

## Creating New Columns

In [34]:
flights.with_columns([
    pl.col('dep_time').mean().alias('average_det_time'),
    (pl.col('dep_delay') > 15).alias('long_dep_delay')
]
).head()

shape: (5, 21)
┌──────┬───────┬─────┬──────────┬─────┬────────┬─────────────────┬────────────────┬────────────────┐
│ year ┆ month ┆ day ┆ dep_time ┆ ... ┆ minute ┆ time_hour       ┆ average_det_ti ┆ long_dep_delay │
│ ---  ┆ ---   ┆ --- ┆ ---      ┆     ┆ ---    ┆ ---             ┆ me             ┆ ---            │
│ i16  ┆ i8    ┆ i8  ┆ i16      ┆     ┆ i8     ┆ datetime[ns]    ┆ ---            ┆ bool           │
│      ┆       ┆     ┆          ┆     ┆        ┆                 ┆ f64            ┆                │
╞══════╪═══════╪═════╪══════════╪═════╪════════╪═════════════════╪════════════════╪════════════════╡
│ 2013 ┆ 1     ┆ 1   ┆ 517      ┆ ... ┆ 15     ┆ 2013-01-01      ┆ 1349.109947    ┆ false          │
│      ┆       ┆     ┆          ┆     ┆        ┆ 05:00:00        ┆                ┆                │
│ 2013 ┆ 1     ┆ 1   ┆ 533      ┆ ... ┆ 29     ┆ 2013-01-01      ┆ 1349.109947    ┆ false          │
│      ┆       ┆     ┆          ┆     ┆        ┆ 05:00:00        ┆                ┆                │
│ 2013 ┆ 1     ┆ 1   ┆ 542      ┆ ... ┆ 40     ┆ 2013-01-01      ┆ 1349.109947    ┆ false          │
│      ┆       ┆     ┆          ┆     ┆        ┆ 05:00:00        ┆                ┆                │
│ 2013 ┆ 1     ┆ 1   ┆ 544      ┆ ... ┆ 45     ┆ 2013-01-01      ┆ 1349.109947    ┆ false          │
│      ┆       ┆     ┆          ┆     ┆        ┆ 05:00:00        ┆                ┆                │
│ 2013 ┆ 1     ┆ 1   ┆ 554      ┆ ... ┆ 0      ┆ 2013-01-01      ┆ 1349.109947    ┆ false          │
│      ┆       ┆     ┆          ┆     ┆        ┆ 06:00:00        ┆                ┆                │
└──────┴───────┴─────┴──────────┴─────┴────────┴─────────────────┴────────────────┴────────────────┘

In [36]:
flights.groupby('origin', maintain_order=True).agg([
    pl.col('dep_time').mean().alias('average_dep_time'),
    pl.col('dep_delay').max().alias('max_delay')
])

shape: (3, 3)
┌────────┬──────────────────┬───────────┐
│ origin ┆ average_dep_time ┆ max_delay │
│ ---    ┆ ---              ┆ ---       │
│ str    ┆ f64              ┆ i16       │
╞════════╪══════════════════╪═══════════╡
│ EWR    ┆ 1336.704497      ┆ 1126      │
│ LGA    ┆ 1310.169029      ┆ 911       │
│ JFK    ┆ 1398.56967       ┆ 1301      │
└────────┴──────────────────┴───────────┘

## Combining Dataframe

In [37]:
import numpy as np
from datetime import datetime, timedelta

In [41]:
df = pl.DataFrame({
    'a': np.arange(0, 8),
    'b': np.random.rand(8),
    'c': [datetime(2022, 12, 1) + timedelta(days=idx) for idx in range(8)],
    'd': [1, 2.0, np.NaN, np.NaN, 0, -5, -42, None]
})

df2 = pl.DataFrame({
    'x': np.arange(0, 8),
    'y': ['A', 'A', 'A', 'B', 'B', 'C', 'X', 'X']
})

In [42]:
df.join(df2, left_on='a', right_on='x')

shape: (8, 5)
┌─────┬──────────┬─────────────────────┬───────┬─────┐
│ a   ┆ b        ┆ c                   ┆ d     ┆ y   │
│ --- ┆ ---      ┆ ---                 ┆ ---   ┆ --- │
│ i32 ┆ f64      ┆ datetime[μs]        ┆ f64   ┆ str │
╞═════╪══════════╪═════════════════════╪═══════╪═════╡
│ 0   ┆ 0.638871 ┆ 2022-12-01 00:00:00 ┆ 1.0   ┆ A   │
│ 1   ┆ 0.29613  ┆ 2022-12-02 00:00:00 ┆ 2.0   ┆ A   │
│ 2   ┆ 0.102804 ┆ 2022-12-03 00:00:00 ┆ NaN   ┆ A   │
│ 3   ┆ 0.357166 ┆ 2022-12-04 00:00:00 ┆ NaN   ┆ B   │
│ 4   ┆ 0.178638 ┆ 2022-12-05 00:00:00 ┆ 0.0   ┆ B   │
│ 5   ┆ 0.186256 ┆ 2022-12-06 00:00:00 ┆ -5.0  ┆ C   │
│ 6   ┆ 0.409005 ┆ 2022-12-07 00:00:00 ┆ -42.0 ┆ X   │
│ 7   ┆ 0.811291 ┆ 2022-12-08 00:00:00 ┆ null  ┆ X   │
└─────┴──────────┴─────────────────────┴───────┴─────┘

In [43]:
pl.concat([df, df2], how='horizontal')

shape: (8, 6)
┌─────┬──────────┬─────────────────────┬───────┬─────┬─────┐
│ a   ┆ b        ┆ c                   ┆ d     ┆ x   ┆ y   │
│ --- ┆ ---      ┆ ---                 ┆ ---   ┆ --- ┆ --- │
│ i32 ┆ f64      ┆ datetime[μs]        ┆ f64   ┆ i32 ┆ str │
╞═════╪══════════╪═════════════════════╪═══════╪═════╪═════╡
│ 0   ┆ 0.638871 ┆ 2022-12-01 00:00:00 ┆ 1.0   ┆ 0   ┆ A   │
│ 1   ┆ 0.29613  ┆ 2022-12-02 00:00:00 ┆ 2.0   ┆ 1   ┆ A   │
│ 2   ┆ 0.102804 ┆ 2022-12-03 00:00:00 ┆ NaN   ┆ 2   ┆ A   │
│ 3   ┆ 0.357166 ┆ 2022-12-04 00:00:00 ┆ NaN   ┆ 3   ┆ B   │
│ 4   ┆ 0.178638 ┆ 2022-12-05 00:00:00 ┆ 0.0   ┆ 4   ┆ B   │
│ 5   ┆ 0.186256 ┆ 2022-12-06 00:00:00 ┆ -5.0  ┆ 5   ┆ C   │
│ 6   ┆ 0.409005 ┆ 2022-12-07 00:00:00 ┆ -42.0 ┆ 6   ┆ X   │
│ 7   ┆ 0.811291 ┆ 2022-12-08 00:00:00 ┆ null  ┆ 7   ┆ X   │
└─────┴──────────┴─────────────────────┴───────┴─────┴─────┘

## Polars Expressions

In [44]:
flights['origin'].value_counts()

shape: (3, 2)
┌────────┬────────┐
│ origin ┆ counts │
│ ---    ┆ ---    │
│ str    ┆ u32    │
╞════════╪════════╡
│ EWR    ┆ 120835 │
│ JFK    ┆ 111279 │
│ LGA    ┆ 104662 │
└────────┴────────┘